In [41]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('(No spotId)travel ratings.csv')
travel = pd.read_csv('Travel attractions.csv')

In [45]:
df.head()

,experience_month,experience_year,location,name,rating,review_body,review_head,trip_type,user_location,username,write_date
0,March,2020.0,Siriraj Medical Museum,JING,3.0,This is just a common medical museum. I think ...,Not worth a visit,Traveled as a couple,"Beijing, China",B1659GO_,Mar 2020
1,February,2020.0,Siriraj Medical Museum,Robert Forbes,5.0,Interesting museums and different to any museu...,Pathology museum,NaN,"Melton Mowbray, United Kingdom",robertforbes18,Feb 2020
2,January,2020.0,Siriraj Medical Museum,Herwin e,4.0,I thought this would be such a creepy journey ...,Whoaaa,Traveled with friends,NaN,herwine2019,Feb 2020
3,December,2019.0,Siriraj Medical Museum,josephpA9806WL,1.0,Please learn from my experience and don't both...,Absolute waste of time.,NaN,"Cary, North Carolina",josephpA9806WL,Feb 2020
4,December,2019.0,Siriraj Medical Museum,rachelchinyk,5.0,Very insightful and an eye opener. Worth the v...,Visit to Siriraj museum,Traveled with family,NaN,rachelchinyk,Jan 2020

In [46]:
# 145251 row
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149474 entries, 0 to 149473
Data columns (total 11 columns):
experience_month    145251 non-null object
experience_year     145251 non-null float64
location            149474 non-null object
name                149474 non-null object
rating              149474 non-null float64
review_body         149474 non-null object
review_head         149474 non-null object
trip_type           120889 non-null object
user_location       129623 non-null object
username            149343 non-null object
write_date          149474 non-null object
dtypes: float64(2), object(9)
memory usage: 12.5+ MB

In [47]:
# 50 สถานที่
df['location'].unique()

array(['Siriraj Medical Museum', 'Central World', 'Baiyoke Sky Tower',
       'Madame Tussauds Bangkok', 'Calypso Cabaret',
       'Temple of the Emerald Buddha (Wat Phra Kaew)',
       'Damnoen Saduak Floating Market ', 'Benjasiri Park',
       'Siam Paragon', 'Train Night Market Ratchada',
       'The National Museum & Wang Na Palace ', 'King Power Mahanakhon ',
       'Dream World', 'Soi Cowboy ', 'SEA LIFE Bangkok Ocean World',
       'Wat Benchamabophit (The Marble Temple)', 'Sukhumvit',
       'Museum of Contemporary Art (MOCA)', 'Chao Phraya River ',
       'Jim Thompson house ', 'Wat Bowonniwet Vihara', 'Safari World',
       'Wat Phra Chetuphon (Wat Pho)',
       'Erawan Shrine (Thao Mahaprom Shrine) ', 'Patpong Night Market',
       'Lumpini park ', 'Terminal 21', 'Pantip Plaza',
       'Taling Chan Floating Market',
       'Snake Farm (Queen Saovabha Memorial Institute)',
       'Chinatown - Bangkok (Yaowarat Road)', 'Siam AMAZING Park',
       'The Grand Palace', 'Siam Niramit Show', 'KhaoSan Road',
       'Bangkok Art and Culture Center ', 'Chatuchak weekend market ',
       'Emporium Bangkok and EmQuartier Bangkok',
       'MBK Center (Ma Boon Khrong Center)', 'IconSiam',
       'Rajadamnern Thai Boxing Stadium', 'Platinum Fashion Mall',
       'Pratunam Market', 'ASIATIQUE The Riverfront',
       'Art in Paradise Bangkok', 'Flow House Bangkok',
       'Samutprakan Crocodile Farm and Zoo', 'Wat Suthat ',
       'Temple of Dawn (Wat Arun)',
       'Temple of the Golden Buddha (Wat Traimit)'], dtype=object)

In [56]:
df['location'].unique()

array(['Siriraj Medical Museum', 'Central World', 'Baiyoke Sky Tower',
       'Madame Tussauds Bangkok', 'Calypso Cabaret',
       'Temple of the Emerald Buddha (Wat Phra Kaew)',
       'Damnoen Saduak Floating Market ', 'Benjasiri Park',
       'Siam Paragon', 'Train Night Market Ratchada',
       'The National Museum & Wang Na Palace ', 'King Power Mahanakhon ',
       'Dream World', 'Soi Cowboy ', 'SEA LIFE Bangkok Ocean World',
       'Wat Benchamabophit (The Marble Temple)', 'Sukhumvit',
       'Museum of Contemporary Art (MOCA)', 'Chao Phraya River ',
       'Jim Thompson house ', 'Wat Bowonniwet Vihara', 'Safari World',
       'Wat Phra Chetuphon (Wat Pho)',
       'Erawan Shrine (Thao Mahaprom Shrine) ', 'Patpong Night Market',
       'Lumpini park ', 'Terminal 21', 'Pantip Plaza',
       'Taling Chan Floating Market',
       'Snake Farm (Queen Saovabha Memorial Institute)',
       'Chinatown - Bangkok (Yaowarat Road)', 'Siam AMAZING Park',
       'The Grand Palace', 'Siam Niramit Show', 'KhaoSan Road',
       'Bangkok Art and Culture Center ', 'Chatuchak weekend market ',
       'Emporium Bangkok and EmQuartier Bangkok',
       'MBK Center (Ma Boon Khrong Center)', 'IconSiam',
       'Rajadamnern Thai Boxing Stadium', 'Platinum Fashion Mall',
       'Pratunam Market', 'ASIATIQUE The Riverfront',
       'Art in Paradise Bangkok', 'Flow House Bangkok',
       'Samutprakan Crocodile Farm and Zoo', 'Wat Suthat ',
       'Temple of Dawn (Wat Arun)',
       'Temple of the Golden Buddha (Wat Traimit)'], dtype=object)

In [18]:
travel.head()

,spotId,title,genres,overview
0,1,Temple of the Emerald Buddha (Wat Phra Kaew),Relax|Convenience|GoodView|Local|Accommodation...,Temple of the Emerald Buddha is regarded as th...
1,2,Wat Phra Chetuphon (Wat Pho),Relax|Convenience|GoodView|Local|Accommodation...,The temple is first on the list of six temples...
2,3,Temple of Dawn (Wat Arun),Relax|Convenience|GoodView|Local|Accommodation...,Wat Arun is a Buddhist temple in Bangkok Yai d...
3,4,Temple of the Golden Buddha (Wat Traimit),Relax|Convenience|GoodView|Local|Accommodation...,The Golden Buddha commonly known in Thai as Ph...
4,5,Wat Suthat,Relax|Convenience|GoodView|Local|Accommodation...,"Wat Suthat is a Buddhist temple in Bangkok, Th..."

In [22]:
# Fill spotId to rating file
filled_df = df.merge(travel , left_on = 'location', right_on ='title')

In [40]:
filled_df.username.value_counts().head(20)

gordonj258          55
nellielim           52
7SE3                45
Mr_Nobody_1979      41
Leonj59             33
goingwalkabout      32
WillGrace2013       31
588phis             31
Lulufluff           30
inijack             30
rangoonr2016        30
CharnP_13           29
ch_smartie          27
Kachipata           27
DonC181             27
issa81              26
georgiovalentino    26
500dank             25
Christmate11        25
MulleEllum          24
Name: username, dtype: int64

In [30]:
filled_df.to_csv('travel_ratings.csv',index = False, encoding='utf-8-sig')

In [59]:
rating = pd.read_csv('travel_ratings.csv')
rating = rating.drop_duplicates()
rating = rating.dropna(subset = ['username'])

In [72]:
rating.nunique()

experience_month        12
experience_year         12
location                50
name                 70297
rating                   5
review_body         146597
review_head         106263
trip_type                5
user_location        11958
username             77985
write_date             295
spotId                  50
title                   50
genres                  36
overview                50
dtype: int64